---
const githubPlatform = "github";
const linkedInPlatform = "linkedin";
const githubUsername = "AnujDynamite";
const linkedinUsername = "anujdyamanna";
---

<footer>
  <p>
    Learn more about my projects on <a
      href={`https://www.${githubPlatform}.com/${githubUsername}`}
      >{githubPlatform}</a
    >!
  </p>
  <p>
    Also my Linkedin is here <a
      href={`https://www.${linkedInPlatform}.com/in/${linkedinUsername}`}
      >{linkedInPlatform}</a
    >!
  </p>
</footer>
